<h1>Compensation</h1>

<div class="instructions"
<p>To receive your $10 Amazon e-gift card for completing the surveys, please enter your email address below.  You will also be entered into a drawing for one of five $100 Amazon e-gift cards.</p>

<%= form_for @drawing do |form| %>
  <%= form.email_field :email %>
  <%= form.submit 'Enter Drawing' %>
<% end %>
</div>
